
html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}


hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

